{% extends "main/header.html" %}
{% load i18n %}


{% block content %}
<h1>{% block title %}{% trans "Error" %} 500{% endblock %}</h1>

<p>{% trans "Sorry, but website has unexpectedly drowned. Lifeguards were called and resuscitation will start soon." %}</p>
{% endblock %}
