{% extends "main/header.html" %}

{% load i18n %}
{% load bootstrap_icons %}
{% block content %}

<div class="mx-auto" style="width: 500px;">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" role="button">{% trans "Add Brigade Hours" %}</button>
</form>
</div>
{% endblock %}
