{% extends "main/header.html" %}

{% load i18n %}
{% load bootstrap_icons %}
{% block content %}
{% load extra_tags %}
{% now "Y"  as current_year %}

<h2>Aspirant {{ person.first_name }} {{ person.last_name }} ({{ person.user.username }})</h2>
Tady bude nějaký text na uvítanou, informace pro zájemnce o členství apod. Znění dodá někdo jiný než programátor.
<table class="table table-striped">
    <tbody>
    <tr> <!-- Temp ID  -->
        <th scope="row">{% trans "Temporary ID" %}</th>
        <td>
            {% if person.temp_registration %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
     <tr> <!-- Small reg  -->
        <th scope="row">{% trans "Small registration form" %}</th>
        <td>
            {% if person.small_reg_form %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
         <tr> <!-- Big reg  -->
        <th scope="row">{% trans "Big registration form" %}</th>
        <td>
            {% if person.small_reg_form %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
    <tr> <!-- GDPR  -->
        <th scope="row">{% trans "GDPR agreed" %}</th>
        <td>
            {% if person.gdpr_agreed %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
    <tr> <!-- information_agreed  -->
        <th scope="row">{% trans "Informations agreed" %}</th>
        <td>
            {% if person.information_agreed %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
    <tr> <!-- images  -->
        <th scope="row">{% trans "Two portrait images" %}</th>
        <td>
            {% if person.pictures2pcs %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Yes" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "No" %})
            </div>
            {% endif %}
        </td>
    </tr>
    <tr> <!-- images  -->
        <th scope="row">{% trans "Guide Contact" %}</th>
        <td>
            {{ person.aspirant_manager.first_name }} {{ person.aspirant_manager.last_name }}: otuzilci-praha@email.cz
        </td>
    </tr>
    <tr>
<!--        MEMBERSHIP FEE -->
        <th scope="row">{% trans "Membership fee in year" %} {{ current_year }}:</th>
        <td>
            {% if fulfilled_membership_this_year.fulfilled_membership %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-danger" role="alert">
                {% bs_icon 'square' color='red' %} ({% trans "Not paid." %} {% trans "Pay" %}
                {{ fulfilled_membership_this_year.missing_membership_money }} {% trans "CZK" %}.)
            </div>
            {% endif %}
        </td>
        <td>
            {% if not fulfilled_membership_this_year.fulfilled_membership %}
            <a class="btn btn-primary" role="button"
               href="/payment_details/{{ person.id }}/CP/{{ current_year }}/{{ fulfilled_membership_this_year.missing_membership_money }} ">
                {% trans "Pay" %}</a>
            {% endif %}
            <a class="btn btn-primary" role="button"
               href="/payment_history/{{ person.id }} ">
                {% trans "My payments" %}</a>
        </td>
    </tr>
    <tr>
<!--        MEDICAL EXAMINATION -->
        <th scope="row">{% trans "Medical examination valid until" %}:<br> <a
                href="https://zimni-plavani.info/dok/nad/Potvrzeni_lekarske_prohlidky_DZP.pdf" target="_blank">{% trans "(Examination template)" %}</a>
        </th>
        {% if examination is None %}
        <td>
            <div class="alert alert-danger" role="alert">
                {% trans "Examination file is missing" %}
            </div>
            <a href="/upload_new_exam_file" class="btn btn-primary" role="button">{% trans "Upload New Examination" %}</a>
        </td>
        {% elif examination.is_expired %}
        <td>
            <div class="alert alert-danger" role="alert">
                {% trans "Examination expired" %}
            </div>
        </td>
        {% elif not examination.is_expired and not examination.verified %}
        <td>
            <div class="alert alert-warning" role="alert">
                {% trans "Waiting for verification" %}
            </div>
        </td>
        {% else %}
        <td><a
                href='/static/media/{{ examination.examination_file_link }} ' target="_blank">{{ examination.examination_until|date:"DATE_FORMAT" }}</a>
        </td>
        {% endif %}
        {% if not examination.is_expired and not examination.verified %}
        <td></td>
        {% else %}
        <td>
            <a href="/upload_new_exam_file" class="btn btn-primary" role="button">{% trans "Upload New Examination" %}</a>
        </td>
        {% endif %}
    </tr>
    </tbody>
</table>

{% endblock %}
