{% extends "main/header.html" %}

{% load bootstrap %}
{% block content %}
{% load i18n %}


<form method="POST">
    {% csrf_token %}
    {{ form | bootstrap }}
    <div id="address-dropdown"></div>
    <input type='submit' class="btn btn-primary w-100" value="{% trans 'Add aspirant' %}"/>
</form>

<style>
    /* Basic styling for the dropdown */
    #address-dropdown {
        border: 1px solid #ccc;
        max-height: 150px;
        overflow-y: auto;
        position: absolute;
        background-color: white;
        z-index: 1000;
        width: 100%;
        display: none;
    }

    .dropdown-item {
        padding: 8px;
        cursor: pointer;
    }

    .dropdown-item:hover {
        background-color: #eee;
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const inputField = document.getElementById('id_adr_street');

        if (inputField) {
            // Create a new div element with id 'address-dropdown'
            const dropdown = document.createElement('div');
            dropdown.id = 'address-dropdown';

            // Insert the dropdown div right after the address input field
            inputField.parentNode.insertBefore(dropdown, inputField.nextSibling);
        } else {
            console.error("Element with id 'id_adr_street' not found in the DOM.");
        }


        const dropdown = document.getElementById('address-dropdown');

        inputField.addEventListener('input', function () {
            const query = inputField.value.trim();

            if (query.length > 2) {  // Start searching after 3 characters
                fetchAddresses(query);
            } else {
                dropdown.style.display = 'none';
            }
        });

        function fetchAddresses(query) {
            const apiUrl = `https://api.mapy.cz/v1/suggest?apikey=3S1n68ulNNraT8TsBPf_pxecJ0T-xjahTeEz96tG-io&lang=cs&query=${encodeURIComponent(query)}&type=regional.address`;

            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    displayDropdown(data.items);
                })
                .catch(error => {
                    console.error('Error fetching addresses:', error);
                    dropdown.style.display = 'none';
                });
        }

        function parseNumbers(input) {
            // Check if the input contains a slash
            if (input.includes('/')) {
                // Split the string at the slash and convert to numbers
                const [firstNumber, secondNumber] = input.split('/').map(Number);
                return {
                    firstNumber: firstNumber,
                    secondNumber: secondNumber
                };
            } else {
                // Convert the input to a number and return it as the firstNumber
                return {
                    firstNumber: Number(input),
                    secondNumber: ''
                };
            }
        }


        function displayDropdown(addresses) {
            dropdown.innerHTML = '';

            if (addresses.length > 0) {
                addresses.forEach(address => {
                    const item = document.createElement('div');
                    item.classList.add('dropdown-item');
                    item.textContent = address.name + ', ' + address.location;
                    item.addEventListener('click', function () {
                        inputField.value = address.name;

                        var numbers = parseNumbers(address.regionalStructure.find(item => item.type === 'regional.address')?.name);
                        document.getElementById('id_adr_home_number_popisne').value = numbers.firstNumber;
                        document.getElementById('id_adr_home_number2_orientacni').value = numbers.secondNumber;

                        document.getElementById('id_adr_post_code').value = address.zip;
                        document.getElementById('id_adr_city').value = address.regionalStructure.find(item => item.type === 'regional.municipality')?.name;

                        document.getElementById('id_adr_street').value = address.regionalStructure.find(item => item.type === 'regional.street')?.name;

                        dropdown.style.display = 'none';

                    });
                    dropdown.appendChild(item);
                });

                const rect = inputField.getBoundingClientRect();
                dropdown.style.left = `${rect.left}px`;
                dropdown.style.top = `${rect.bottom + window.scrollY}px`;
                dropdown.style.width = `${rect.width}px`;
                dropdown.style.display = 'block';
            } else {
                dropdown.style.display = 'none';
            }
        }

        document.addEventListener('click', function (event) {
            if (!inputField.contains(event.target) && !dropdown.contains(event.target)) {
                dropdown.style.display = 'none';
            }
        });


        const rcInput = document.getElementById('id_RC');
        const citizenshipCheckbox = document.getElementById('id_is_czech_citizenship');
        const birthDateInput = document.getElementById('id_birth_date');
        const sexDropdown = document.getElementById('id_sex');

        function parseRodneCislo(rc) {
            if (rc.length < 9 || rc.length > 11) {
                return null; // Invalid length for Rodné číslo
            }

            let year = parseInt(rc.substring(0, 2), 10);
            let month = parseInt(rc.substring(2, 4), 10);
            let day = parseInt(rc.substring(4, 6), 10);

            // Gender determination based on month
            const isFemale = month > 50;
            if (isFemale) {
                month -= 50; // Female
            }

            // Century determination based on length and year
            year += (year >= 54 ? 1900 : 2000);

            // Ensure month and day are two digits
            month = month.toString().padStart(2, '0');
            day = day.toString().padStart(2, '0');

            return {
                date: `${year}-${month}-${day}`,
                isFemale: isFemale
            };
        }

        function validateRodneCislo(rc) {
            const parsedRc = rc.replace('/', '');
            return parsedRc % 11 === 0;
        }

        function updateFields() {
            const rc = rcInput.value.trim();
            if (citizenshipCheckbox.checked && rc) {
                const parsedRc = parseRodneCislo(rc);
                if (parsedRc) {
                    const isValid = validateRodneCislo(rc);

                    // Update input background based on validity
                    if (isValid) {
                        rcInput.classList.remove('is-invalid');
                        rcInput.classList.add('is-valid');

                        // Update birth date
                        birthDateInput.value = parsedRc.date;

                        // Update sex dropdown
                        sexDropdown.value = parsedRc.isFemale ? 'Female' : 'Male';
                    } else {
                        rcInput.classList.remove('is-valid');
                        rcInput.classList.add('is-invalid');
                        birthDateInput.value = '';
                    }
                } else {
                    rcInput.classList.remove('is-valid');
                    rcInput.classList.add('is-invalid');
                }
            }
        }

        // Attach event listener for when the Rodné číslo changes
        rcInput.addEventListener('input', updateFields);
        // Attach event listener for when the checkbox is checked/unchecked
        citizenshipCheckbox.addEventListener('change', updateFields);
    });
</script>
{% endblock %}