{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "List of aspirants for" %}
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ current_manager }}
        </button>
        <ul class="dropdown-menu">
            {% for man in managers %}
            <li><a class="dropdown-item" href="{% url 'main:list_aspirants' man.pk %}" {% if man == current_manager %} selected="selected" {% endif %} >{{ man }}</a></li>
            {% endfor %}
        </ul>
    </div>
</h2>

<a class="btn btn-primary" href="{% url 'main:add_aspirant' %}">{% trans "Add New Aspirant" %}</a>
<input class="form-control" id="myInput" type="text" placeholder="Search..">

<table class="table table-striped table-hover" style="white-space:nowrap;" id="wideTable">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Temp Reg" %}</th>
        <th>{% trans "Small Reg" %}</th>
        <th>{% trans "Big Reg" %}</th>
        <th>{% trans "GDPR" %}</th>
        <th>{% trans "Info signed" %}</th>
        <th style="max-width:150px">{% trans "MF" %}</th>
        <th style="max-width:200px">{% trans "ME" %}</th>
        <th>{% trans "Photo 2 pcs" %}</th>
        <th>{% trans "Aspirant since" %}</th>
        <th>{% trans "Notes" %}</th>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
    </thead>
    <tbody id="searchable_table">
    {% for person, membership, eligible in data %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>

        <td>{{ person }}</td>
        <td>{{ person.phone_number }}</td>
        <td>{{ person.email }}</td>
        <td>
            {% if person.temp_registration %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_temp_registration' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {% if person.small_reg_form %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_small_registration' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {% if person.big_reg_form %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_big_registration' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {% if person.gdpr_agreed %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_gdpr' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {% if person.information_agreed %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_information_agreed' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {% if membership.fulfilled_membership %}
            &#10004;
            {% else %}
            &#10060;
                <a href="{% url 'main:send_payment_email' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'cash-coin' %}
                </a>
            {% endif %}
        </td>
        <td>
            {% if person.latest_examination > current_date %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <br/>
            {{ person.latest_examination }}
        </td>
        <td>
            {% if person.pictures2pcs %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <a href="{% url 'main:toggle_aspirant_pictures2pcs' person.pk %}" class="btn btn-primary btn-sm" role="button">
                {% bs_icon 'arrow-repeat' %}
            </a>
        </td>
        <td>
            {{ person.member_since|date:'DATE_FORMAT' }}
            ({{ person.days_since_member.days }} {% trans "days" %})
        </td>
        <td>
            <form method="post" action="{% url 'main:aspirant_update_note' person.pk %}">
                {% csrf_token %}
                <textarea name="note" rows="3" cols="30">{{ person.aspirant_note|default_if_none:'' }}</textarea>
                <button type="submit" class="btn btn-primary" style="vertical-align: top;">{% trans "Save" %}</button>
            </form>
        </td>
        <td>
            <a href="/admin/auth/user/{{person.user.pk}}/change" class="btn btn-primary" role="button">{% trans "Django" %}</a>
            <a class="btn btn-primary" href="{% url 'main:edit_aspirant' person.pk %}">{% trans "HR Edit" %}</a>
        </td>
        <td>
            {% if eligible %}
                {% if person.is_czech_citizenship and person.status == 0 and not person.hosted_member%}
                    <a href="{% url 'main:accept_aspirant' pk=person.pk %} " class="btn btn-primary" role="button">{% trans "Hire" %}</a>
                {% elif person.status == 1 %}
                    <div class="badge badge-warning">{% trans "Contact IT." %}</div>
                {% elif person.hosted_member %}
                    <div class="badge badge-warning">{% trans "Hosted member - IT has no instructions." %}</div>
                {% else %}
                    <div class="badge badge-warning">{% trans "Not Czech. Contact IT." %}</div>
                {% endif %}
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
