{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% block content %}
{% load i18n %}


<h2>{% trans "Brigades" %} {% trans "in" %}
    <!-- Example single danger button -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ season_year }}
        </button>
        <ul class="dropdown-menu">
            {% for year in years %}
            <li><a class="dropdown-item" href="{% url 'main:brigades' year %}" {% if year == season_year %} selected="selected" {% endif %} >{{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>
</h2>

<a class="btn btn-primary" href="{% url 'admin:main_brigade_add' %}">{% trans "Add Brigade" %}</a>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Brigade Fulfilled" %} {{season_year|slugify|add:"-2000"}}/{{season_year|slugify|add:"-1999"}}</th>
        <th style="min-width:140px">{% trans "Action" %}</th>
    </tr>
    </thead>
    <tbody  id="searchable_table">
    {% for item in data %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ item.person }}</td>
        <td>{{ item.person.email }}</td>
        <td>{{ item.person.phone_number }}</td>
        <td>
            {% if item.fulfilled_brigade %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            <a href="{% url 'main:brigade_history' item.person.pk %}" class="btn btn-primary"
               role="button">{% trans "List" %}</a>
            <a href="/admin/main/brigade/add/?person={{ item.person.pk }}" class="btn btn-primary"
               role="button" target="_blank">+</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
