{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% block content %}
{% load i18n %}

<h2>{% trans "Brigades to confirm" %}</h2>
<h3>{% trans "Requests for me" %}</h3>

<a class="btn btn-primary" href="{% url 'admin:main_brigade_add' %}">{% trans "Add Brigade" %}</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Hours" %}</th>
        <th>{% trans "Work" %}</th>
        <th>{% trans "Verify" %}</th>
        <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for brigade in requests_for_me %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ brigade.person }}</td>
        <td>{{ brigade.date|date:'DATE_FORMAT' }}</td>
        <td>{{ brigade.hours }}</td>
        <td>{{ brigade.work }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'main:verify_brigade' brigade.id %}">{% trans "Verify!" %}</a></h2>
        </td>
        <td>
            <a class="btn btn-primary" href="/admin/main/brigade/{{brigade.id}}/change/">{% trans "Edit" %}</a></h2>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>{% trans "All" %}</h3>

<a class="btn btn-primary" href="{% url 'admin:main_brigade_add' %}">{% trans "Add Brigade" %}</a>
<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Hours" %}</th>
        <th>{% trans "Accountable" %}</th>
        <th>{% trans "Work" %}</th>
        <th>{% trans "Verify" %}</th>
        <th>{% trans "Edit" %}</th>
  </tr>
    </thead>
    <tbody>
    {% for brigade in data %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ brigade.person }}</td>
        <td>{{ brigade.date|date:'DATE_FORMAT' }}</td>
        <td>{{ brigade.hours }}</td>
        <td>{{ brigade.accountable }}</td>
        <td>{{ brigade.work }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'main:verify_brigade' brigade.id %}">{% trans "Verify!" %}</a></h2>
        </td>
        <td>
            <a class="btn btn-primary" href="/admin/main/brigade/{{brigade.id}}/change/">{% trans "Edit" %}</a></h2>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
