{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% load i18n %}
{% block content %}

{% if swimmer == person or person.is_brigade_manager %}
    <h2>{{ swimmer }}</h2>
    {% if person.is_brigade_manager %}
    <a href="/admin/main/brigade/add/?person={{ swimmer.pk }}" class="btn btn-primary" role="button" target="_blank">+</a>
    {% endif %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Brigade Date" %}</th>
            <th>{% trans "Hours" %}</th>
            <th>{% trans "Work" %}</th>
            <th>{% trans "Accountable" %}</th>
            <th>{% trans "Fulfilled differently" %}</th>
            <th>{% trans "Verified" %}</th>
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for brigade in brigades %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ brigade.date }}</td>
            <td>{{ brigade.hours }}</td>
            <td>{{ brigade.work }}</td>
            <td>{{ brigade.accountable }}</td>
            <td>
                {% if brigade.fulfilled_differently %}
                &#10004;
                {% else %}
                &#10060;
                {% endif %}
            </td>
            <td>
                {% if brigade.verified %}
                &#10004;
                {% else %}
                &#10060;
                {% endif %}
            </td>
            {% if person.is_brigade_manager %}
            <td>

                <a href="/admin/main/brigade/{{brigade.pk}}/change"
                   class="btn btn-primary"
                   role="button" target="_blank">{% trans "Edit" %}</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>{% trans "You are not allowed to see this page" %}</h2>
{% endif %}

{% endblock %}
