{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Attendees of" %} {{ competition }}</h2>
<a class="btn btn-primary" href="{% url 'admin:main_registration_add' %}">{% trans "Add Person" %}</a> <!-- TODO -->
<a class="btn btn-primary" href="{{ request.path }}?format=csv">{% trans "Export to CSV" %}</a>
<a class="btn btn-primary" href="{{ request.path }}?format=csw">{% trans "CSV Excel" %}</a>
<button class="btn btn-primary" onclick="Hello()">{% trans "Copy all email to clipboard" %}</button>
<input type="text" value="{{all_emails}}" id="myInput" width="5px">

<script type="text/javascript">
  function Hello() {
  var copyText = document.getElementById('myInput')
  copyText.select();
  document.execCommand('copy')
  console.log('Copied Text')
}
</script>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Level" %}</th>
        <th>{% trans "Length" %}</th>
        <th>{% trans "Limit 8" %}</th>
        <th>{% trans "Limit 4" %}</th>
        <th>{% trans "Transportation" %}</th>
        <th>{% trans "Co-paid" %}</th>
        <th>{% trans "Notes" %}</th>
        <th>{% trans "Solutions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for registration, passengers in registrations %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ registration.person }}</td>
        <td>{{ registration.person.phone_number }}</td>
        <td>{{ registration.person.get_level_now_pretty }}</td>
        <td {% if registration.championship_course %} style="font-weight: bold;"{% endif %}>
            {{ registration.length.all | join:", " }}{% if registration.championship_course %} ({% trans 'CSC' %}) {% endif %}
        </td>
        <td>{{ registration.get_track_limit_8 }}</td>
        <td>{{ registration.get_track_limit_4 }}</td>
        <td>{{ registration.get_transport_pretty }}</td>
        <td>
            <form method="post" action="{% url 'main:toggle_co_paid' competition.id registration.pk %}">
                {% csrf_token %}
                {% if registration.co_paid %}
                    {% bs_icon 'check-circle' color='green' %} {% trans "Yes" %}
                {% else %}
                    {% bs_icon 'x-circle' color='red' %} {% trans "No" %}
                {% endif %}
                {% if person.is_treasurer %}
                    &nbsp;<button type="submit" class="btn btn-secondary">{% trans "Toggle" %}</button>
                {% endif %}
            </form>
        </td>
        <td translate="no">{{ registration.note }}</td>
        <td>{{ registration.solution }} <a class="btn btn-primary" href="{% url 'admin:main_registration_change' registration.pk %}" target="_blank">{% trans "Edit" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
