{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Attendees to" %} {{ competition }}</h2>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Length" %}</th>
        <th>{% trans "Transportation" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for registration, passengers in registrations %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ registration.person.get_public_name }}</td>
        <td>{{ registration.length.all | join:", " }}</td>
        <td>
            {% for value, label in transports %}
                {% if value == registration.transport %}
                    {{ label }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
