{% extends "main/header.html" %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Competitions" %}</h2>
<a class="btn btn-primary" href="{% url 'admin:main_competition_add' %}">{% trans "Add Competition" %}</a>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <td>{% trans "Name" %}</td>
        <td>{% trans "Attendees" %}</td>
        <td>{% trans "Transportation" %}</td>
        <td>{% trans "Action" %}</td>
    </tr>
    </thead>
    <tbody>
    {% for competition in competitions %}
    <tr>
        <td>
            {{ competition.event_venue }} - {{ competition.event_date|date:'DATE_FORMAT' }}
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'main:list_attendees' competition.id %}">{% trans "Attendees" %}</a>
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'main:edit_transportation_admin' competition.pk %}">{% trans "Transportation admin" %}</a>
            {% if competition.transportation_done %}
                <a class="btn btn-primary" href="{% url 'main:transportation_public' competition.id %}">{% bs_icon 'car-front-fill' %}</a>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-primary"
               href="{% url 'admin:main_competition_change' competition.pk %}">{% trans "Edit" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
