{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Transportation for " %} {{ competition }}</h2>
<h3>
    {% trans "Transportation Summary" %}

    {% if not transportations %}
        <button type="button" class="btn btn-danger" style="margin-left: 200px;" disabled>{% trans "Remove all cars" %}</button>
        <a class="btn btn-primary" href="{% url 'main:transportation_generate' competition.pk %}">{% trans "Generate" %}</a>
        <button type="button" class="btn btn-primary" disabled>{% trans "Publish" %}</button>
    {% else %}
        <a class="btn btn-danger" href="{% url 'main:clear_transportation' competition.pk %}" style="margin-left: 200px;" onclick="return confirm('{% trans 'Are you sure you want to clear all cars?' %}');">{% trans "Clear all cars" %}</a>
        <button type="button" class="btn btn-primary" disabled>{% trans "Generate" %}</button>
        {% if competition.transportation_done %}
            <button type="button" class="btn btn-primary" disabled>{% trans "Publish" %}</button>
        {% else %}
            <a class="btn btn-primary" href="{% url 'main:transportation_publish' competition.pk %}">{% trans "Publish" %}</a>
        {% endif %}
    {% endif %}
    {% if competition.transportation_locked %}
        <a class="btn btn-primary" href="{% url 'main:transportation_lock_toggle' competition.pk %}">{% trans "Unlock transportation" %}</a>
    {% else %}
        <a class="btn btn-warning" href="{% url 'main:transportation_lock_toggle' competition.pk %}">{% trans "Lock transportation" %}</a>
    {% endif %}
</h3>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Driver" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Occupancy" %}</th>
        <th>{% trans "Passengers" %}</th>
        <th>{% trans "Note" %}</th>
        <th>{% trans "Actions" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for transportation in transportations %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {{ transportation.driver.get_public_name }}
            {% for registration in registrations %}
                {% if registration.person == transportation.driver %}
                    ({{ registration.length.all | join:", " }})
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ transportation.driver.phone_number }}</td>
        <td>
            {% if transportation.passengers.count > transportation.available_seats %}
                {% bs_icon 'x-circle' color='red' %}
            {% endif %}
            {{ transportation.passengers.count }} / {{ transportation.available_seats }}
        </td>
        <td>
            {% for passenger in transportation.passengers.all %}
                {{ passenger.get_public_name }}
                {% for registration in registrations %}
                    {% if registration.person == passenger %}
                        ({{ registration.length.all | join:", " }})
                    {% endif %}
                {% endfor %}
                {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </td>
        <td>
            <form method="post" action="{% url 'main:update_note' transportation.pk %}">
                {% csrf_token %}
                <textarea name="note" rows="3" cols="20">{{ transportation.note }}</textarea>
                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
            </form>
        </td>
        <td>
            <a class="btn btn-danger" href="{% url 'main:transportation_remove_driver' transportation.pk %}" onclick="return confirm('{% trans 'Are you sure you want to remove this car?' %}');">{% trans "Remove car" %}</a>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    {% trans "Set Seats" %}
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 0 %}">{{ 0 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 1 %}">{{ 1 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 2 %}">{{ 2 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 3 %}">{{ 3 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 4 %}">{{ 4 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 5 %}">{{ 5 }}</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="{% url 'main:set_available_seats' transportation.pk 6 %}">{{ 6 }}</a>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h3>{% trans "Attendees" %}</h3>
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Length" %}</th>
        <th>{% trans "Preferred Transport" %}</th>
        <th>{% trans "Preferred Driver" %}</th>
        <th>{% trans "Preferred Passengers" %}</th>
        <th>{% trans "Note" %}</th>
        <th>{% trans "Action" %}</th>
        <th>{% trans "Driver" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for registration in registrations %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {% if registration.person.id in drivers or registration.person.id in passengers or registration.transport == 0%}
                {% bs_icon 'check-circle' color='green' %}
            {% else %}
                {% bs_icon 'x-circle' color='red' %}
            {% endif %}
            {{ registration.person.get_public_name }}
        </td>
        <td>{{ registration.person.phone_number }}</td>
        <td {% if registration.championship_course %} style="font-weight: bold;"{% endif %}>
            {{ registration.length.all | join:", " }}{% if registration.championship_course %} ({% trans 'CSC' %}) {% endif %}
        </td>
        <td>{{ registration.get_transport_pretty }}</td>
        <td>{{ registration.preferred_driver.get_public_name|default:"" }}</td>
        <td>
            {% for passenger in registration.preferred_passengers.all %}
                {{ passenger.get_public_name }}{% if not forloop.last %},<br>{% endif %}
            {% endfor %}
        </td>
        <td>{{ registration.note }}</td>
        <td> <a class="btn btn-primary" href="{% url 'main:transportation_create_driver' registration.pk %}">{% trans "Set as driver" %}</a></td>
        <td>
             <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">{% trans "Select driver" %}</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'main:transportation_remove_passenger' registration.pk %}">{% trans "Remove" %}</a>
                        </li>
                        {% for transportation in transportations %}
                        {% if registration.person.id != transportation.driver.id %}
                            <li>
                                <a class="dropdown-item" href="{% url 'main:transportation_append_passenger' transportation.pk registration.pk %}">{{ transportation.driver.get_public_name }}</a>
                            </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
             </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
