{% extends "main/header.html" %}

{% block content %}
<div class="text-center">
    <h2>{% trans "An error occured" %}</h2>
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
</div>

{% endblock %}
