{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{{ localize_key }}

{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


<html lang="en">
<head>
    <link href="{% static 'tiny/css/prism.css' %}" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>I. PKO - IS</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        /* Ensure that the table layout is fixed to make sticky positioning work well */

        /* Make the table header sticky */
        thead th {
            position: sticky;
            top: 0;  /* or your desired offset */
            background-color: white; /* to hide content scrolling underneath */
            z-index: 1;  /* to ensure it's on top of other table content */
        }
        .widetable {
            margin: 0 auto;
            max-width: 100%;
            /* overflow-x: auto; */
        }
    </style>
</head>

<body>
{% include "main/includes/navbar.html" %}

{% include "main/includes/messages.html" %}

<div class="container" id="mainContainer">
    <br>
    {% block content %}
    {% endblock %}
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
<script src="{% static 'tinymce/js/prism.js' %}"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</body>
</html>

<!-- and at the end:-->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

{% for message in messages %}
<div class="alert {{ message.tags }} alert-dismissible shadow fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    {{ message | safe }}
</div>
{% endfor %}

<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase().normalize("NFD").replace(/\p{Diacritic}/gu, "")
    $("#searchable_table tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().normalize("NFD").replace(/\p{Diacritic}/gu, "").indexOf(value) > -1)
    });
  });
});
</script>

<script>
  $(document).ready(function() {
    var container = $("#mainContainer");
    var table = $("#wideTable");

    // Check if the table width exceeds the container width
    if (table.width() > container.width()) {
      container.addClass("widetable");
    }
  });
</script>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <div class="text-center">
        <a href="https://www.facebook.com/otuzilci.praha" target="_blank">
            <img style="padding: 0px 10px; border-style: none; margin: 0;" src="http://www.otuzilci-praha.cz/cz/uploads/2016/02/FB-f-Logo__blue_29.png" alt="facebook">
        </a>
    </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2022-24 Copyright:
        <a href="#">I. PKO - Korči & Žižkin </a>
    </div>
    <!-- Copyright -->
    <div class="text-center">
        {% trans "In case of any problems or issues please email ipko.praha@gmail.com" %}
    </div>

</footer>
<!-- Footer -->
