{% extends "main/header.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


{% block content %}
<div class="text-center">
    <h2> {% trans "Information System of I. PKO" %} </h2>
    <a class="nav-link" href="/login">{% trans "Login" %}</a>
</div>


{% endblock %}
