{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}

{% block content %}

<h2>{% trans "List of members" %}</h2>
<a class="btn btn-primary" href="{% url 'admin:auth_user_add' %}">{% trans "Add New Member" %}</a></h2>
<input class="form-control" id="myInput" type="text" placeholder="Search..">

<table class="table table-striped table-hover" style="white-space:nowrap;" id="wideTable">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Email" %}</th>
        <th style="max-width:150px">{% trans "MF" %} {{season_year|slugify|add:"-2000"}}</th>
        <th style="max-width:150px">{% trans "BR" %} {{season_year|slugify|add:"-2000"}}/{{season_year|slugify|add:"-1999"}}</th>
        <th style="max-width:150px">{% trans "BR" %} {{season_year|slugify|add:"-2001"}}/{{season_year|slugify|add:"-2000"}}</th>
        <th style="max-width:200px">{% trans "ME" %}</th>
        <th>{% trans "RC" %}</th>
        <th>{% trans "Address" %}</th>
        <th>{% trans "Member since" %}</th>
        <th>{% trans "Membership type" %}</th>
        <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody id="searchable_table">
    {% for person, membership, brigade_act, brigade_prev in data %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td class="text-wrap">{{ person }}</td>
        <td>{{ person.phone_number }}</td>
        <td class="text-wrap">{{ person.email }}</td>
        <td>
            {% if membership.fulfilled_membership %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            {% if brigade_act.fulfilled_brigade %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            {% if brigade_prev.fulfilled_brigade %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>

            {% if person.latest_examination > current_date %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
            <br/>
            {{ person.latest_examination }}</td>
        <td>{{ person.RC }}</td>
        <td class="text-wrap">{{ person.address }}</td>
        <td>{{ person.member_since|date:'DATE_FORMAT' }}</td>
        <td>{% trans person.get_swimmerage_type_label %}</td>
        <td>
            <a href="/admin/auth/user/{{person.user.pk}}/change" class="btn btn-primary" role="button">{% trans "Edit" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
