{% extends "main/header.html" %}
{% load i18n %}

{% block content %}

{% load bootstrap5 %}
<form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    {% endbuttons %}
</form>
<a href="{% url 'main:password_reset' %}"><i>{% trans "Forgot Password" %}?</i></a><br/>
<a href="https://docs.google.com/document/d/1jn9A7UBl0HaKPBThmSOFZoXMpcHgfRxJGIp5MnFSno4/edit?usp=sharing" target="_blank"><i>{% trans "How to create an account" %}</i></a>

<br/>
{% trans "If you don't have an account, send an email to ipko-praha@email.cz." %}

{% endblock %}
