{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% block content %}
{% load i18n %}

{% if swimmer == person or person.is_medical_exam_manager %}
    <h2>{{ swimmer }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Valid till" %}</th>
            <th>{% trans "Link" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for me in medical_exams %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ me.examination_until|date:"DATE_FORMAT" }}</td>
            <td><a
                href='/static/media/{{ me.examination_file_link }} ' target="_blank">{{ me.examination_file_link }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>{% trans "You are not allowed to see this page" %}</h2>
{% endif %}


{% endblock %}