{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% block content %}

<h2>{% trans "List of medical exams to verify" %}</h2>
<a class="btn btn-primary" href="{% url 'admin:main_medicalexamination_add' %}">{% trans "Add New Exam" %}</a>
<table class="table table-striped table-hover" style="white-space:nowrap;">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Link" %}</th>
        <th>{% trans "Valid until" %}</th>
        <th>{% trans "Verify" %}</th>
        <th>{% trans "Reject" %}</th>
        <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for exam, file_exists in exams %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ exam.person }}</td>
         <td>{{ exam.person.email }}</td>
        <td>{{ exam.person.phone_number }}</td>
        {% if file_exists %}
        <td><a href="{{ exam.examination_file_link.url  }}">{% trans "Link" %}</a></td>
        {% else %}
        <td class="text-danger">{% trans "File is missing." %}</td>
        {% endif %}
        <td>{{ exam.examination_until|date:'DATE_FORMAT' }}</td>
        <td>
            <a class="btn btn-primary" href="{% url 'main:verify_exam' exam.id %}">{% trans "Verify!" %}</a>
        </td>
        <td>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {% for field in form  %}
                {{ field.label_tag }}{{ field }}
                {% endfor %}
                <input type="hidden" name="examination_id" id="examination_id" value={{ exam.pk }} >
                <button type="submit" class="btn btn-danger" role="button">{% trans "Reject" %}</button>
            </div>
        </form>
        </td>
        <td>
            <a class="btn btn-primary" href="/admin/main/medicalexamination/{{exam.id}}/change/">{% trans "Edit" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>{% trans "List of rejected medical exams" %}</h2>
<table class="table table-striped table-hover" style="white-space:nowrap;">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Link" %}</th>
        <th>{% trans "Valid until" %}</th>
        <th>{% trans "Rejection reason" %}</th>
        <th>{% trans "Edit" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for exam, file_exists in rejected_exams %}
       <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ exam.person }}</td>
         <td>{{ exam.person.email }}</td>
        <td>{{ exam.person.phone_number }}</td>
        {% if file_exists %}
        <td><a href="{{ exam.examination_file_link.url  }}">{% trans "Link" %}</a></td>
        {% else %}
        <td class="text-danger">{% trans "File is missing." %}</td>
        {% endif %}
        <td>{{ exam.examination_until|date:'DATE_FORMAT' }}</td>
        <td>{{ exam.rejected_note }}</td>
        <td>
            <a class="btn btn-primary" href="/admin/main/medicalexamination/{{exam.id}}/change/">{% trans "Edit" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
