{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% block content %}
{% load i18n %}

<h2>{% trans "List of medical exams" %}</h2>
<a class="btn btn-primary" href="{% url 'admin:main_medicalexamination_add' %}">{% trans "Add New Exam" %}</a>
<input class="form-control" id="myInput" type="text" placeholder="Search..">

<table class="table table-striped" style="white-space:nowrap;">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Email" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Valid until" %}</th>
        <th>{% trans "History" %}</th>
   </tr>
    </thead>
    <tbody  id="searchable_table">
    {% for person in persons %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ person }}</td>
         <td>{{person.email }}</td>
        <td>{{ person.phone_number }}</td>
        <td>{{ person.latest_examination|date:'DATE_FORMAT' }}</td>
        <td><a href="{% url 'main:medical_exams_history' person.pk %}" class="btn btn-primary"
               role="button">{% trans "List" %}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}