{% extends "main/header.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}


{% block content %}
<div class="text-center">
    <h2> {% trans "Payment Details" %} </h2>


    <table class="table table-striped">
        <tr>
            <td>{% trans "Account number" %}</td>
            <td>6147514003/5500</td>
        </tr>
        <tr>
            <td>{% trans "Amount" %}</td>
            <td>{{amount}} CZK</td>
        </tr>
        <tr>
            <td>{% trans "Message" %}</td>
            <td>{{message}}</td>
        </tr>
    </table>
    <img src="{{ link }}" />


</div>


{% endblock %}
