{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% load i18n %}
{% block content %}

{% if swimmer == person or person.is_treasurer %}
    <h2>{{ swimmer }}</h2>
    {% if person.is_treasurer %}
    <a href="/admin/main/payment/add/?person={{ swimmer.pk }}" class="btn btn-primary" role="button" target="_blank">+</a>
    {% endif %}
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>{% trans "Payment Date" %}</th>
            <th>{% trans "Payment Due Date" %}</th>
            <th>{% trans "Membership Amount" %}</th>
            <th>{% trans "Brigade Amount" %}</th>
            <th>{% trans "Way of transfer" %}</th>
            {% if person.is_treasurer %}
            <th>{% trans "MF Fulfilled differently" %}</th>
            {% endif %}
            <th>{% trans "Action" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ payment.date }}</td>
            <td>{{ payment.due_date }}</td>
            <td>{{ payment.membership_amount }}</td>
            <td>{{ payment.brigade_amount }}</td>
            <td>{{ payment.way_of_transfer }}</td>
            {% if person.is_treasurer %}
            <td>
                {% if payment.mf_fulfilled_differently %}
                &#10004;
                {% else %}
                &#10060;
                {% endif %}
            </td>
            <td>
                <a href="/admin/main/payment/{{payment.pk}}/change"
                   class="btn btn-primary"
                   role="button" target="_blank">{% trans "Edit" %}</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <h2>{% trans "You are not allowed to see this page" %}</h2>
{% endif %}

{% endblock %}
