{% extends "main/header.html" %}

{% load bootstrap %}
{% block content %}
{% load i18n %}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">


<div id="form-content">
    <form method="POST">
        {% csrf_token %}
        {{ form|bootstrap }}
        {% if comp.is_winter_competition and comp.is_championship_venue %}
            <label id="id_note1" style="color: red; font-weight: bold;">{% trans 'You do NOT swim the championship course' %}</label><br>
            <input type="hidden" name="length" id="hidden_length" value="{{cs_length}}" />
        {% endif %}
        <input type='submit' class="btn btn-primary btn-block" value="{{ button_label }}" onclick="return validateForm()" />

        <br><br>
        {% if copayment_amount == 0 %}
            <label id="id_note3">{% trans "No copayment for this competition" %}</label>
        {% else %}
            <label id="id_note2">{% trans "Copayment details:" %}</label>
            <table class="table table-striped">
                <tr>
                    <td>{% trans "Account number" %}</td>
                    <td>6147514003/5500</td>
                </tr>
                <tr>
                    <td>{% trans "Amount" %}</td>
                    <td>{{copayment_amount}} CZK</td>
                </tr>
                <tr>
                    <td>{% trans "Message" %}</td>
                    <td>{{copayment_message}}</td>
                </tr>
            </table>
            <img src="{{ qr_link }}" />
        {% endif %}
    </form>
</div>

<div id="loading-message" style="display: none;">
    <p>{% trans "Please wait while we process your request..." %}</p>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- JavaScript for dynamic form field update -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const optionSelect = document.getElementById('id_transport');
        const drivers = document.getElementById('id_preferred_driver').parentElement.parentElement;
        const passengers = document.getElementById('id_preferred_passengers').parentElement.parentElement;

        function updateFormFields() {
            const selectedOption = optionSelect.value;
            if (selectedOption === '0' || selectedOption === '') {
                drivers.style.display = 'none';
                passengers.style.display = 'none';
            } else if (selectedOption === '1') { // choose driver
                drivers.style.display = 'block';
                passengers.style.display = 'none';
            } else { // choose passangers
                drivers.style.display = 'none';
                passengers.style.display = 'block';
            }
        }

        optionSelect.addEventListener('change', updateFormFields);
        updateFormFields();  // Initialize on load
    });
</script>
{% if comp.is_winter_competition and comp.is_championship_venue %}
<script>
    document.getElementById('id_championship_course').addEventListener('change', function () {
        var cs_selected = this.checked;
        var productSelect = document.getElementById('id_length');
        productSelect.disabled = cs_selected;
        var cs_swim = document.getElementById('id_note1')

        // Add options based on the selected option
        if (cs_selected) {
            productSelect.value = '{{cs_length}}';
            cs_swim.innerHTML = "{% trans 'You will swim the championship course' %}"
        } else {
            productSelect.value = '';
            cs_swim.innerHTML = "{% trans 'You do NOT swim the championship course' %}"
        }
    });
</script>
<script>
      document.addEventListener("DOMContentLoaded", function() {
        // Get the cs_length value
        var csLengthValue = '{{ cs_length }}';

        // Get the id_championship_course element
        var idChampionshipCourseElement = document.getElementById("id_championship_course");

        // Check if cs_length is equal to 0 and disable id_championship_course if true
        if (csLengthValue === 0) {
          idChampionshipCourseElement.disabled = true;
          document.getElementById('id_note1').innerHTML = "{% trans 'You cannot swim the championship course because you do not have a sufficient performance level.' %}";
        }
      });
</script>
{% endif %}

<script>
function validateForm() {
    // Hide form content and show loading message
    document.getElementById('form-content').style.display = 'none';
    document.getElementById('loading-message').style.display = 'block';

    {% if comp.is_winter_competition and comp.is_championship_venue %}
    var leng = document.getElementById('hidden_length');
    if (parseInt(leng.value, 10) === 0) {
        leng.value = document.getElementById('id_length').value
    } else if (!document.getElementById('id_championship_course').checked) {
        leng.value = document.getElementById('id_length').value
    }

    {% endif %}

    return true;
  }
</script>

{% endblock %}
