{% extends "main/header.html" %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Upcoming Competitions available for Registration" %}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>{% trans "Competition" %} ({% trans "Propositions" %})</td>
        <td>{% trans "Date" %}</td>
        <td>{% trans "Propositions" %}</td>
        <td>{% trans "Attendees" %}</td>
        <td>{% trans "Location" %}</td>
        <td>{% trans "Note" %}</td>
        <td>{% trans "Sign-in till" %}</td>
        <td>{% trans "Copayment" %}</td>
        <td>{% trans "Action" %}</td>
    </tr>
    </thead>
    <tbody>
    {% for competition, is_eligible, warnings in competitions_eligibility_warnings %}
    <tr>
        <td>{{ competition.name }}</td>
        <td>{{ competition.event_date|date:'DATE_FORMAT' }}</td>
        <td>
            <a class="btn btn-primary" href="{{ competition.propositions }}">{% trans "Propositions" %}</a>
        </td>
        <td>
            <a class="btn btn-primary" href="{% url 'main:list_attendees_public' competition.id %}">{% trans "Attendees" %}</a>
        </td>
        <td>{{ competition.event_venue |default_if_none:""  }}</td>
        <td>{{ competition.note|default_if_none:"" }}</td>
        <td>
            {% if competition.signing_until < today %}
                ---
            {% else %}
                {{ competition.signing_until|date:'DATE_FORMAT' }} 19:00
            {% endif %}
        </td>
        <td>
            {% if competition.copayment == 0 %}
                <label id="id_note4">N/A</label>
            {% else %}
                {{ competition.copayment }} CZK
            {% endif %}
        <td>{% if is_eligible %}
            <a class="btn btn-primary" href="{% url 'main:register_to' competition.id %}">{% trans "Register" %}</a>
            {% else %}
                {% for warning in warnings %}
                    <div class="alert alert-danger" role="alert">
                    {{ warning }}
                    </div>
                {% endfor %}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>{% trans "Upcoming Competitions not available for Registration" %}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>{% trans "Competition" %} ({% trans "Propositions" %})</td>
        <td>{% trans "Date" %}</td>
        <td>{% trans "Location" %}</td>
        <td>{% trans "Note" %}</td>
        <td>{% trans "Sign-in from" %}</td>
        <td>{% trans "Sign-in till" %}</td>
    </tr>
    </thead>
    <tbody>
    {% for competition in upcoming_competitions %}
    <tr>
        <td><a href="{% url 'main:list_attendees_public' competition.id %}" target="_blank">
            {{ competition.name }}</a>
        </td>
        <td>{{ competition.event_date|date:'DATE_FORMAT' }}
        </td>
        <td>{{ competition.event_venue |default_if_none:""  }}</td>
        <td>{{ competition.note|default_if_none:"" }}</td>
        <td>
            {% if competition.signing_from < today %}
                ---
            {% else %}
                {{ competition.signing_from|date:'DATE_FORMAT' }}
            {% endif %}
        </td>
        <td>
            {% if competition.signing_until < today %}
                ---
            {% else %}
                {{ competition.signing_until|date:'DATE_FORMAT' }} 19:00
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<h2>{% trans "My Registerations" %}</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>{% trans "Competition" %}</td>
        <td>{% trans "Date" %}</td>
        <td>{% trans "Propositions" %}</td>
        <td>{% trans "Attendees" %}</td>
        <td>{% trans "Length" %}</td>
        <td>{% trans "Transport" %}</td>
        <td>{% trans "Note" %}</td>
        <td>{% trans "Copayment" %}</td>
        <td>{% trans "Action" %}</td>
    </tr>
    </thead>
    <tbody>
    {% for registration, removable in my_registrations %}
   <tr>
        <td>
           {{ registration.competition.name }}
        </td>

        <td>{{ registration.competition.event_date|date:'DATE_FORMAT' }}</td>

        <td>
            <a class="btn btn-primary" href="{{ registration.competition.propositions }}">{% trans "Propositions" %}</a>
        </td>

        <td>
            <a class="btn btn-primary" href="{% url 'main:list_attendees_public' registration.competition.id %}">{% trans "Attendees" %}</a>
        </td>

        <td {% if registration.championship_course %} style="font-weight: bold;"{% endif %}>
            {{ registration.length.all | join:", " }}{% if registration.championship_course %} ({% trans 'CSC' %}) {% endif %}
        </td>

        <td>
            {% if registration.competition.transportation_done %}
                <a class="btn btn-primary" href="{% url 'main:transportation_public' registration.competition.id %}">{% bs_icon 'car-front-fill' %}</a>
            {% else %}
                {% for value, label in transports %}
                    {% if value == registration.transport %}
                        {{ label }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td>{{ registration.note }}</td>

        <td>
            {% if registration.competition.copayment == 0 %}
                <label id="id_note3">N/A</label>
            {% elif registration.co_paid %}
                {% bs_icon 'check-circle' color='green' %} {% trans "Co-paid" %}
            {%  else %}
                <a class="btn btn-primary" role="button" href="/payment_details/Co-pay/{{ season_year }}/{{ registration.competition.copayment }}/{{ registration.competition.event_venue }}">
                {% trans "Co-pay"%} {{registration.competition.copayment }} CZK</a>
            {% endif %}
        </td>

        <td>
            {% if not registration.competition.transportation_locked %}
                <a class="btn btn-warning" href="{% url 'main:edit_registration' registration.id %}">{% trans "Edit registration" %}</a>
            {% endif %}
            {% if removable %}
                <a class="btn btn-danger" href="{% url 'main:unregister' registration.id %}">{% trans "Remove registration" %}</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
