{% extends "main/header.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans "Swimmers" %}</h2>

<div class="row">
    {% for person in persons %}
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ person.name }} {{ person.surname }}</span>
                <p>{{ person.email }} {{ person.address }} </p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
