{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load i18n %}
{% load bootstrap_icons %}

{% block content %}

<h2>{% trans "Transport to" %} {{ competition }}</h2>

<button type="button" class="btn btn-primary" onclick="copyTableToClipboard()">{% trans "Copy Table to Clipboard" %}</button>

<table id="transportationTable" class="table table-striped table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Driver" %}</th>
        <th>{% trans "Phone" %}</th>
        <th>{% trans "Passengers" %}</th>
        <th>{% trans "Note" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for transportation in transportations %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
            {{ transportation.driver.get_public_name }}
            {% for registration in registrations %}
                {% if registration.person == transportation.driver %}
                    ({{ registration.length.all | join:", " }})
                {% endif %}
            {% endfor %}
        </td>
        <td>{{ transportation.driver.phone_number }}</td>
        <td>
            {% for passenger in transportation.passengers.all %}
                {{ passenger.get_public_name }}
                {% for registration in registrations %}
                    {% if registration.person == passenger %}
                        ({{ registration.length.all | join:", " }})
                    {% endif %}
                {% endfor %}
                {% if not forloop.last %}<br>{% endif %}
            {% endfor %}
        </td>
        <td>{{ transportation.note }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
function copyTableToClipboard() {
    var table = document.getElementById("transportationTable");
    var range, selection, worked;

    if (document.createRange) {
        range = document.createRange();
        range.selectNode(table);
        selection = window.getSelection();
        selection.removeAllRanges();
        selection.addRange(range);
        try {
            worked = document.execCommand('copy');
            if (worked) {
                alert('Table copied to clipboard');
            } else {
                alert('Unable to copy table');
            }
        } catch (err) {
            alert('Unable to copy table');
        }
        selection.removeAllRanges();
    } else {
        alert('Your browser does not support this feature');
    }
}
</script>


{% endblock %}