{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% load i18n %}
{% block content %}

<h2>{% trans "Payments" %} {% trans "in" %}
    <!-- Example single danger button -->
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ season_year }}
        </button>
        <ul class="dropdown-menu">
            {% for year in years %}
            <li><a class="dropdown-item" href="{% url 'main:treasurer' year %}" {% if year == season_year %} selected="selected" {% endif %} >{{ year }}</a></li>
            {% endfor %}
        </ul>
    </div>
</h2>

<a class="btn btn-primary" href="{% url 'admin:main_payment_add' %}">{% trans "Add Payment" %}</a>
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<table class="table table-striped table-hover" style="white-space:nowrap;" id="wideTable">
    <thead>
    <tr>
        <th>#</th>
        <th>{% trans "Person" %}</th>
        <th>{% trans "Phone no" %}</th>
        <th>{% trans "Email" %}</th>
        <th style="max-width:150px">{% trans "MF" %} {{season_year|slugify|add:"-2000"}}</th>
        <th style="max-width:150px">{% trans "BR" %} {{season_year|slugify|add:"-2001"}}/{{season_year|slugify|add:"-2000"}}</th>
        <th style="max-width:150px">{% trans "BR" %} {{season_year|slugify|add:"-2000"}}/{{season_year|slugify|add:"-1999"}}</th>
        <th style="min-width:200px">{% trans "Quick Pay (Due date: today)" %}</th>
        <th>{% trans "Action" %}</th>
    </tr>
    </thead>
    <tbody id="searchable_table">
    {% for membership, brigade, brigade_prev in data %}
    <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ membership.person }}</td>
        <td>{{ membership.person.phone_number }}</td>
        <td>{{ membership.person.email }}</td>
        <td>
            {% if membership.fulfilled_membership %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            {% if brigade_prev.fulfilled_brigade %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            {% if brigade.fulfilled_brigade %}
            &#10004;
            {% else %}
            &#10060;
            {% endif %}
        </td>
        <td>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% for field in form  %}
                        {{ field.label_tag }}{{ field }}
                    {% endfor %}
                     <input type="hidden" name="person" value={{ membership.person.pk }}>
                    <button type="submit" class="btn btn-primary" role="button">{% trans "+" %}</button>
                </div>
            </form>
        </td>
        <td>
            <a href="{% url 'main:payment_history' membership.person.pk %}" class="btn btn-primary"
               role="button">{% trans "List" %}</a>
            <a href="/admin/main/payment/add/?person={{ brigade.person.pk }}"
               class="btn btn-primary"
               role="button" target="_blank">+</a>
            {% if membership.person.pk != brigade.person.pk %}
                <p class="text-warning">Membership.person (id={{ membership.person.pk }}) != brigade.person ({{ brigade.person.p}}).</p>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


{% endblock %}
