{% extends "main/header.html" %}

{% load i18n %}
{% load bootstrap_icons %}
{% block content %}


<div id="examForm" class="mx-auto" style="width: 500px;">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary" role="button">{% trans "Upload New Examination" %}</button>
</form>
</div>
<script>
    document.getElementById("examForm").addEventListener("submit", function(e) {
        const fileInput = document.getElementById("id_examination_file_link");
        var message = '{% trans "Are you sure that the submitted examination is signed also by you? If not, the request will be rejected." %}';
        var userChoice = window.confirm(message);

        if (!fileInput.files.length) {
            alert('{% trans "Please upload a file before submitting!" %}');
            e.preventDefault();
        }

        if (!userChoice) {
            e.preventDefault(); // This stops the form from submitting
        }
    });
</script>
{% endblock %}
