{% extends "main/header.html" %}

{% load i18n %}
{% load bootstrap_icons %}
{% block content %}
{% load extra_tags %}
{% now "Y"  as current_year %}

<h2>{{ person.first_name }} {{ person.last_name }} ({{ person.user.username }})</h2>
<table class="table table-striped">
    <tbody>
    <tr>
<!--        MEMBERSHIP FEE -->
        <th scope="row">{% trans "Membership fee in year" %} {{ current_year }}:<br>({% trans "to be paid till end of June" %} {{ current_year }})</th>
        <td>
            {% if fulfilled_membership_this_year.fulfilled_membership %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-danger" role="alert">
                {% bs_icon 'square' color='red' %} ({% trans "Not paid." %} {% trans "Pay" %}
                {{ fulfilled_membership_this_year.missing_membership_money }} {% trans "CZK" %}.)
            </div>
            {% endif %}
        </td>
        <td>
            {% if not fulfilled_membership_this_year.fulfilled_membership %}
            <a class="btn btn-primary" role="button"
               href="/payment_details/CP/{{ current_year }}/{{ fulfilled_membership_this_year.missing_membership_money }} ">
                {% trans "Pay" %}</a>
            {% endif %}
            <a class="btn btn-primary" role="button"
               href="/payment_history/{{ person.id }} ">
                {% trans "My payments" %}</a>
        </td>
    </tr>
    <tr>
<!--        MEMBERSHIP FEE LAST YEAR -->
        <th scope="row">{% trans "Membership fee in year" %} {{ current_year|slugify|add:"-1"}}:<br>({% trans "to be paid till end of June" %} {{ current_year|slugify|add:"-1"}})</th>
        <td>
            {% if fulfilled_membership_prev_year.fulfilled_membership %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-danger" role="alert">
                {% bs_icon 'square' color='red' %} ({% trans "Not paid." %} {% trans "Pay" %}
                {{ fulfilled_membership_prev_year.missing_membership_money }} {% trans "CZK" %}.)
            </div>
            {% endif %}
        </td>
        <td>
            {% if not fulfilled_membership_prev_year.fulfilled_membership %}
            <a class="btn btn-primary" role="button"
               href='/payment_details/CP/{{ current_year|slugify|add:"-1" }}/{{ fulfilled_membership_prev_year.missing_membership_money }} '>
                {% trans "Pay" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
<!--        MEDICAL EXAMINATION -->
        <th scope="row">{% trans "Medical examination valid until" %}:<br> <a
                href="https://zimni-plavani.info/dok/nad/Potvrzeni_lekarske_prohlidky_DZP.pdf" target="_blank">{% trans "(Examination template)" %}</a>
        </th>
        {% if examination is None %}
        <td>
            <div class="alert alert-danger" role="alert">
                {% trans "Examination file is missing" %}
            </div>
            <a href="/upload_new_exam_file" class="btn btn-primary" role="button">{% trans "Upload New Examination" %}</a>
        </td>
        {% elif examination.is_expired %}
        <td>
            <div class="alert alert-danger" role="alert">
                {% trans "Examination expired" %}
            </div>
        </td>
        {% elif not examination.is_expired and not examination.verified %}
        <td>
            <div class="alert alert-warning" role="alert">
                {% trans "Waiting for verification" %}
            </div>
        </td>
        {% else %}
        <td><a
                href='/static/media/{{ examination.examination_file_link }} ' target="_blank">{{ examination.examination_until|date:"DATE_FORMAT" }}</a>
        </td>
        {% endif %}
        {% if not examination.is_expired and not examination.verified %}
        <td></td>
        {% else %}
        <td>
            <a href="/upload_new_exam_file" class="btn btn-primary" role="button">{% trans "Upload New Examination" %}</a>
        </td>
        {% endif %}
    </tr>
        {% if brigade_hours_to_verify %}
    <tr>
        <!--        BRIGADE VERIFICATION-->
        <th scope="row">{% trans "Brigade verification" %}</th>
        <td>
            <div class="alert alert-warning" role="alert">
                {{ brigade_hours_to_verify }} {% trans "hours of work" %}
            </div>
        </td>
        <td>
            <div class="alert alert-warning" role="alert">
                {% trans "Waiting for verification" %}
            </div>
        </td>
    </tr>
    {% endif %}
    <tr>
        <th scope="row">{% trans "Brigade" %} {% trans "July" %} {{ season_year }} {% trans "to June" %} {{ season_year|slugify|add:"+1" }}:
        </th>
        <td>
            {% if fulfilled_brigade_this_year.fulfilled_brigade %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='orange' %} ({% trans "Your brigades are not fulfilled yet." %}
                {% trans "Need to brigade" %} {{ fulfilled_brigade_this_year.missing_brigade_hours }} {% trans "more hours" %}.
                {% trans "Or pay" %} {{ fulfilled_brigade_this_year.missing_brigade_money }} {% trans "CZK" %})
            </div>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-primary" role="button" href="/add_brigade">{% trans "Add Brigade" %}</a>
            {% if not fulfilled_brigade_this_year.fulfilled_brigade %}
            <a class="btn btn-primary" role="button"
               href="/payment_details/Br/{{ season_year }}/{{ fulfilled_brigade_this_year.missing_brigade_money  }}">
                {% trans "Pay" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans "Brigade" %} {% trans "July" %} {{ season_year|slugify|add:"-1" }} {% trans "to June" %} {{ season_year }}:
        </th>
        <td>
            {% if fulfilled_brigade_prev_year.fulfilled_brigade %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "Your brigades were not fulfilled:" %}
                {{ fulfilled_brigade_prev_year.missing_brigade_hours }} {% trans "hours were missing" %}.
                {% trans "You need to pay" %} {{ fulfilled_brigade_prev_year.missing_brigade_money }} {% trans "CZK" %})
            </div>
            {% endif %}
        </td>
        <td>
            <a class="btn btn-primary" role="button" href="/brigade_history/{{ person.id }} ">{% trans "My Brigades" %}</a>
            {% if not fulfilled_brigade_prev_year.fulfilled_brigade %}
            <a class="btn btn-primary" role="button"
               href='/payment_details/Br/{{ season_year|slugify|add:"-1" }}/{{ fulfilled_brigade_prev_year.missing_brigade_money  }}'>
                {% trans "Pay" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th scope="row">{% trans "Brigade" %} {% trans "July" %} {{ season_year|slugify|add:"-2" }} {% trans "to June" %} {{ season_year|slugify|add:"-1" }}:
        </th>
        <td>
            {% if fulfilled_brigade_prev2_year.fulfilled_brigade %}
            {% bs_icon 'check-square' color='green' %} ({% trans "Fulfilled" %})
            {% else %}
            <div class="alert alert-warning" role="warning">
                {% bs_icon 'square' color='red' %} ({% trans "Your brigades were not fulfilled:" %}
                {{ fulfilled_brigade_prev2_year.missing_brigade_hours }} {% trans "hours were missing" %}.
                {% trans "You need to pay" %} {{ fulfilled_brigade_prev2_year.missing_brigade_money }} {% trans "CZK" %})
            </div>
            {% endif %}
        </td>
        <td>
            {% if not fulfilled_brigade_prev2_year.fulfilled_brigade %}
            <a class="btn btn-primary" role="button"
               href='/payment_details/Br/{{ season_year|slugify|add:"-2" }}/{{ fulfilled_brigade_prev2_year.missing_brigade_money  }}'>
                {% trans "Pay" %}</a>
            {% endif %}
        </td>
    </tr>

<!--        SWIMMING LEVEL -->
        <th scope="row">{% trans "Swimming level this season" %}:
        </th>
        <td>{{ person.get_level_now_pretty }}</td>
        <td>
            {%if person.points_id != 0 %}
            <a class="btn btn-primary" role="button"
               href='https://bodovani.zimni-plavani.info/plavec.php?rok={{ season_year }}&id={{ person.points_id }}' target="_blank">
                {% trans "My competition results this season" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
<!--        SWIMMING LEVEL LAST SEASON-->
        <th scope="row">{% trans "Swimming level last season" %}:</th>
        <td>{{ person.get_level_last_year_pretty }}</td>
        <td></td>
    </tr>
    <tr>
        <th scope="row">{% trans "Change password" %}:</th>
        <td></td>
        <td>
            <a href="/admin/password_change/" class="btn btn-primary" role="button">{% trans "Change password" %}</a>
        </td>
    </tr>
    </tbody>
</table>

<h2>{% trans "My Registerations" %} <a class="btn btn-primary" href="/register">+ {% trans "Register to competition" %}</a></h2>
<table class="table table-striped">
    <thead>
    <tr>
        <td>{% trans "Competition" %}</td>
        <td>{% trans "Date" %}</td>
        <td>{% trans "Propositions" %}</td>
        <td>{% trans "Attendees" %}</td>
        <td>{% trans "Length" %}</td>
        <td>{% trans "Transport" %}</td>
        <td>{% trans "Note" %}</td>
        <td>{% trans "Copayment" %}</td>
        <td>{% trans "Action" %}</td>
    </tr>
    </thead>
    <tbody>
    {% for registration, removable in my_registrations %}
    <tr>
        <td>
           {{ registration.competition.name }}
        </td>

        <td>{{ registration.competition.event_date|date:'DATE_FORMAT' }}</td>

        <td>
            <a class="btn btn-primary" href="{{ registration.competition.propositions }}">{% trans "Propositions" %}</a>
        </td>

        <td>
            <a class="btn btn-primary" href="{% url 'main:list_attendees_public' registration.competition.id %}">{% trans "Attendees" %}</a>
        </td>

        <td {% if registration.championship_course %} style="font-weight: bold;"{% endif %}>
            {{ registration.length.all | join:", " }}{% if registration.championship_course %} ({% trans 'CSC' %}) {% endif %}
        </td>

        <td>
            {% if registration.competition.transportation_done %}
                <a class="btn btn-primary" href="{% url 'main:transportation_public' registration.competition.id %}">{% bs_icon 'car-front-fill' %}</a>
            {% else %}
                {% for value, label in transports %}
                    {% if value == registration.transport %}
                        {{ label }}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </td>
        <td>{{ registration.note }}</td>

        <td>
            {% if registration.competition.copayment == 0 %}
                <label id="id_note3">N/A</label>
            {% elif registration.co_paid %}
                {% bs_icon 'check-circle' color='green' %} {% trans "Co-paid" %}
            {%  else %}
                        <a class="btn btn-primary" role="button" href="/payment_details/Co-pay/{{ season_year }}/{{ registration.competition.copayment }}/{{ registration.competition.event_venue }}">
                        {% trans "Co-pay"%} {{registration.competition.copayment }} CZK</a>
            {% endif %}
        </td>

        <td>
            {% if not registration.competition.transportation_locked %}
                <a class="btn btn-warning" href="{% url 'main:edit_registration' registration.id %}">{% trans "Edit registration" %}</a>
            {% endif %}
            {% if removable %}
                <a class="btn btn-danger" href="{% url 'main:unregister' registration.id %}">{% trans "Remove registration" %}</a>
            {% endif %}

        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
