{% load static %}
{% load bootstrap5 %}
{% load i18n %}
{% load extra_tags %}
{% now "Y"  as current_year %}
{% current_brigade_season as brigade_season %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <img src="{% static 'favicon.png' %}"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="btn btn-light" aria-current="page" href="/user_info">{% trans "Profile" %}</a>
                </li>
                {% if person.is_competition_manager %}
                <li class="nav-item">
                    <a class="btn btn-light" href="/competitions">{% trans "Competitions" %}</a>
                </li>
                {% endif %}
                {% if person.is_medical_exam_manager %}
                <li class="nav-item">
                    <a class="btn btn-light" href="/medical_exams">{% trans "Medical Examinations to confirm" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="/medical_exams_all">{% trans "Medical Examinations" %}</a>
                </li>
                {% endif %}
                {% if person.is_treasurer %}
                <li class="nav-item">
                    <a class="btn btn-light" href="{% url 'main:treasurer' current_year %}">{% trans "Treasurer" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="{% url 'main:sinners' brigade_season %}">{% trans "Sinners" %}</a>
                </li>
                {% endif %}
                {% if person.is_brigade_manager %}
                <li class="nav-item">
                    <a class="btn btn-light" href="{% url 'main:brigades' brigade_season %}">{% trans "Brigades" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="/brigade_requests">{% trans "Brigades to confirm" %}</a>
                </li>
                {% endif %}
                {% if person.is_human_resource_manager %}
                <li class="nav-item">
                    <a class="btn btn-light" href="/hr">{%trans "HR" %}</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-light" href="{% url 'main:list_aspirants' person.id %}">{% trans "Aspirants" %}</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                {% endif %}

                <li class="nav-dropdown">
                    <form action="/i18n/setlang/" method="POST" id="lang">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit();" class="custom-select">
                            {% for lang in LANGUAGES %}
                                <option value="{{ lang.0 }}" {% if lang.0 == LANGUAGE_CODE %}selected="selected" {% endif %}> {{ lang.1 }}
                                </option>
                            {% endfor %}
                        </select>
                        <noscript><input type="submit"></noscript>
                    </form>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="btn btn-secondary" href="/logout">{% trans "Logout" %}</a>
                    {% else %}
                    <a class="nav-link" href="/login">{% trans "Login" %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
