{% extends "main/header.html" %}
{% load extra_tags %}
{% load admin_urls %}
{% load bootstrap_icons %}
{% load i18n %}
{% block content %}
    <div class="container my-3 p-3">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="alert alert-info">
                        {% trans "Your password has been set. You may go ahead and" %} <a href="{% url 'main:login' %}">{% trans "Login Here" %}.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}